<!DOCTYPE html>
<head>
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Signed Exchange test</title>
<style>
  .options {
    margin: 1rem;
  }
  .github-link {
    font-size: small;
  }
</style>
</head>
<body>
  <script>
  function log(txt) {
    let disp = document.getElementById('disp');
    let div = document.createElement('div');
      div.appendChild(document.createTextNode(txt));
      disp.appendChild(div);
  }
  function addPrefetch(button) {
    url = button.parentElement.querySelector('a').href;
    log('-- addPrefetch --');
    let link = document.createElement('link');
    link.rel = 'prefetch';
    link.href = url;
    link.addEventListener('error', () => log('Prefetch failed ' + url));
    document.body.appendChild(link);
  }
  function updateHref() {
    let ver = document.querySelector('.version-select input:checked').value;
    for (let a of document.querySelectorAll('.sxg a')) {
      let url = new URL(a.href);
      url.searchParams.set('v', ver);
      a.href = url.toString();
    }
  }

  if (window.PerformanceObserver) {
    new PerformanceObserver((list) => {
      for (let e of list.getEntries()) {
        if (e.name.indexOf('.sxg') >= 0)
          log('Prefetched ' + e.name);
      }
    }).observe({ entryTypes: ['resource'] });
  }

  </script>
  <div class="github-link"><a href="https://github.com/irori/htxg-b1">View on GitHub</a></div>
  <div class="options">
    <div class="version-select">
      Version:
      <input type="radio" id="auto" name="v" value="auto" checked><label for="auto">auto</label>
      <input type="radio" id="1b1" name="v" value="1b1"><label for="1b1">b1</label>
      <input type="radio" id="1b2" name="v" value="1b2"><label for="1b2">b2</label>
      <input type="radio" id="1b3" name="v" value="1b3"><label for="1b3">b3</label>
    </div>
  </div>

  {{ range .SXGs }}
    <div class="sxg">
      <input type="button" onclick="addPrefetch(this)" value="prefetch">
      <a href="https://{{ $.Host }}/sxg/{{ . }}">{{ . }}</a>
    </div>
  {{ end }}
  <div class="sxg">
    <input type="button" onclick="addPrefetch(this)" value="prefetch">
    <a href="http://{{ .Host }}/sxg/hello_ec.sxg">non secure hello_ec.sxg</a>
  </div>
  <div id="disp"></div>

  <script>
    for (let radio of document.querySelectorAll('.options input'))
		radio.onclick = updateHref;
	updateHref();
  </script>
</body>
