<!DOCTYPE html>
<head>
<title>Signed Exchange test</title>
<style>
  .version-select {
    margin: 1rem;
  }
  .github-link {
    margin: 1rem 0;
  }
</style>
</head>
<body>
  <script>
  function log(txt) {
    let disp = document.getElementById('disp');
    let div = document.createElement('div');
      div.appendChild(document.createTextNode(txt));
      disp.appendChild(div);
  }
  function addPrefetch(url) {
    log('-- addPrefetch --');
    let link = document.createElement('link');
    link.rel = 'prefetch';
    link.href = url;
    document.body.appendChild(link);
  }
  function changeVer(ver) {
      location.search = '?v=' + ver;
  }

  if (window.PerformanceObserver) {
    new PerformanceObserver((list) => {
      for (let e of list.getEntries()) {
        if (e.name.indexOf('.sxg') >= 0)
          log('Prefetched ' + e.name);
      }
    }).observe({ entryTypes: ['resource'] });
  }

  </script>
  <div class="version-select">
    Version:
    <input type="radio" id="1b1" name="v" value="1b1" {{if eq .Ver "1b1"}}checked{{end}} onclick="changeVer('1b1')"><label for="1b1">b1</label>
    <input type="radio" id="1b2" name="v" value="1b2" {{if ne .Ver "1b1"}}checked{{end}} onclick="changeVer('1b2')"><label for="1b2">b2</label>
  </div>
  <div>
    <input type="button" onclick="addPrefetch('https://{{ .Host }}/sxg/hello_ec.sxg?v={{ .Ver }}')" value="prefetch">
    <a href="https://{{ .Host }}/sxg/hello_ec.sxg?v={{ .Ver }}">hello_ec.sxg</a>
  </div>
  <div>
    <input type="button" onclick="addPrefetch('https://{{ .Host }}/sxg/404_cert_url.sxg?v={{ .Ver }}')" value="prefetch">
    <a href="https://{{ .Host }}/sxg/404_cert_url.sxg?v={{ .Ver }}">404_cert_url.sxg</a>
  </div>
  <div>
    <input type="button" onclick="addPrefetch('https://{{ .Host }}/sxg/expired.sxg?v={{ .Ver }}')" value="prefetch">
    <a href="https://{{ .Host }}/sxg/expired.sxg?v={{ .Ver }}">expired.sxg</a>
  </div>
  <div>
    <input type="button" onclick="addPrefetch('https://{{ .Host }}/sxg/invalid_validity_url.sxg?v={{ .Ver }}')" value="prefetch">
    <a href="https://{{ .Host }}/sxg/invalid_validity_url.sxg?v={{ .Ver }}">invalid_validity_url.sxg</a>
  </div>
  <div>
    <input type="button" onclick="addPrefetch('http://{{ .Host }}/sxg/hello_ec.sxg?v={{ .Ver }}')" value="prefetch">
    <a href="http://{{ .Host }}/sxg/hello_ec.sxg?v={{ .Ver }}">non secure hello_ec.sxg</a>
  </div>
  <div>
    <input type="button" onclick="addPrefetch('https://{{ .Host }}/sxg/old_ocsp.sxg?v={{ .Ver }}')" value="prefetch">
    <a href="https://{{ .Host }}/sxg/old_ocsp.sxg?v={{ .Ver }}">old_ocsp.sxg</a>
  </div>
  <div class="github-link"><a href="https://github.com/irori/htxg-b1">View on GitHub</a></div>
  <div id="disp"></div>
</body>
