<body>
  <script>
  function log(txt) {
    let disp = document.getElementById('disp');
    let div = document.createElement('div');
      div.appendChild(document.createTextNode(txt));
      disp.appendChild(div);
  }
  function addPrefetch(url) {
    log('-- addPrefetch --');
    let link = document.createElement('link');
    link.rel = 'prefetch';
    link.href = url;
    document.body.appendChild(link);
  }
  function showPerformanceEntries() {
    log('-- showPerformanceEntries --');
    let entries = performance.getEntries();
    entries.forEach(entry => {
      log(entry.name);
    });
  }

  </script>
  <div>
    <input type="button" onclick="addPrefetch('https://{{ .Host }}/sxg/hello_rsa.sxg')" value="prefetch">
    <a href="https://{{ .Host }}/sxg/hello_rsa.sxg">hello_rsa.sxg</a>
  </div>
  <div>
    <input type="button" onclick="addPrefetch('https://{{ .Host }}/sxg/hello_ec.sxg')" value="prefetch">
    <a href="https://{{ .Host }}/sxg/hello_ec.sxg">hello_ec.sxg</a>
  </div>
  <div>
    <input type="button" onclick="addPrefetch('https://{{ .Host }}/sxg/404_cert_url.sxg')" value="prefetch">
    <a href="https://{{ .Host }}/sxg/404_cert_url.sxg">404_cert_url.sxg</a>
  </div>
  <div>
    <input type="button" onclick="addPrefetch('https://{{ .Host }}/sxg/invalid_cert_url.sxg')" value="prefetch">
    <a href="https://{{ .Host }}/sxg/invalid_cert_url.sxg">invalid_cert_url.sxg</a>
  </div>
  <div>
    <input type="button" onclick="addPrefetch('https://{{ .Host }}/sxg/sha256_missmatch.sxg')" value="prefetch">
    <a href="https://{{ .Host }}/sxg/sha256_missmatch.sxg">sha256_missmatch.sxg</a>
  </div>
  <div>
    <input type="button" onclick="addPrefetch('https://{{ .Host }}/sxg/expired.sxg')" value="prefetch">
    <a href="https://{{ .Host }}/sxg/expired.sxg">expired.sxg</a>
  </div>
  <div>
    <input type="button" onclick="addPrefetch('https://{{ .Host }}/sxg/invalid_validity_url.sxg')" value="prefetch">
    <a href="https://{{ .Host }}/sxg/invalid_validity_url.sxg">invalid_validity_url.sxg</a>
  </div>
  <div>
    <input type="button" onclick="addPrefetch('http://{{ .Host }}/sxg/hello_ec.sxg')" value="prefetch">
    <a href="http://{{ .Host }}/sxg/hello_ec.sxg">non secure hello_ec.sxg</a>
  </div>
  <div>
    <input type="button" onclick="addPrefetch('https://{{ .Host }}/sxg/old_ocsp.sxg')" value="prefetch">
    <a href="https://{{ .Host }}/sxg/old_ocsp.sxg">old_ocsp.sxg</a>
  </div>
  <input type="button" onclick="showPerformanceEntries()" value="showPerformanceEntries">
  <div id="disp"></div>
  </body>
